section div {
  display: inline-flex;
  margin: 10px;
  padding: 10px;
  border: 15px;
  border: black;
  background-color: aqua;
  
}
img  {
  border: 10px;
  display: flex;
  margin: 23px;
  size-adjust: 30%;
}